/node_modules
/apps/public/hot
/apps/public/storage
/apps/public/salary
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker-compose.yml
package-lock.json
yarn.lock
/apps/public/js
/apps/public/mix-manifest.json
/apps/public/fonts
/apps/public/css
/dockers/mysql
composer.lock
